*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0,0,0,0.75)), url(../../img/Bg.jpg);
    background-size: cover;
    background-position: center;
    
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 100px;
    cursor: pointer;
    mix-blend-mode: screen;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}

section#about-us {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    color: #203547;
}

ul {
    margin: 20px 0;
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

#contact {
    padding: 50px;
    text-align: center;
    color: #fff;
}

#contact h2{
    color: #fff;
}

#contact-form {
    display: inline-block;
    width: 50%;
    text-align: left;
    color: #fff;
}

#contact-form input, #contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#contact-form .btn {
    background-color: #0066cc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

