*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0,0,0,0.75)), url(../../img/Bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
	z-index: 1;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
	position: relative;
	z-index: 2;
}

.logo {
    width: 100px;
    cursor: pointer;
    mix-blend-mode: screen;
	z-index: 3;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.hero {
    background-size: cover;
    text-align: center;
    padding: 100px 20px;
    color: white;
    transform: translateY(-50%);
    height: 0;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 15px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #203547;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: #203547;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}

#destinations {
    padding: 50px;
    text-align: center;
    color: #fff;
}

.destination-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
	gap: 20px;
    margin-top: 30px;
}

.destination-cards .card {
    flex: 1 1 calc(25% - 40px); 
    max-width: 300px; 
    background-color: transparent; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.destination-cards .card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
} 

.destination-cards .card img {
    width: 100%;
    height: auto; 
    border-radius: 10px;
}

.destination-cards .card h3 {
    margin-top: 10px;
    color: #fff; 
}


@media (max-width: 815px) {
    .destination-cards {
        justify-content: center;
	}

    .destination-cards .card {
        flex: 1 1 calc(50% - 40px); 
        max-width: none; 
    }
}

@media screen and (max-width: 1540px) {
    .destination-cards .card {
        flex: 1 1 100%; /* Make each card take up 100% of the width on screens 990px or smaller */
    }
}

@media (max-width: 480px) {
    .destination-cards .card {
        flex: 1 1 100%; 
    }
}

.postcard {
	flex-wrap: wrap;
	display: flex;
	box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
	border-radius: 10px;
	margin: 0 0 2rem 0;
	overflow: hidden;
	position: relative;
}
.dark {
	background: #203547;
}
.postcard a {
	color: inherit;
}
.postcard h1,
.postcard .h1 {
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
    color: #fff;
}
.postcard .small {
	font-size: 80%;
}
.postcard .postcard__title {
	font-size: 1.75rem;
    color: #fff;
}
.postcard .postcard__img {
	max-height: 250px;
	width: 100%;
	object-fit: cover;
	position: relative;
}
.postcard .postcard__img_link {
	display: contents;
}
.postcard .postcard__bar {
	width: 50px;
	height: 10px;
	margin: 10px 0;
	border-radius: 5px;
	background-color: #424242;
	transition: width 0.2s ease;
}
.postcard .postcard__text {
	padding: 1.5rem;
	position: relative;
	display: flex;
	flex-direction: column;
    color: #fff;
}
.postcard .postcard__preview-txt {
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: justify;
	height: 100%;
    color: #fff;
}
.postcard .postcard__tagbox {
	display: flex;
	flex-flow: row wrap;
	margin: 20px 0 0 0;
	padding: 0;
	justify-content: center;
}
.postcard .postcard__tagbox .tag__item {
	display: inline-block;
	background: rgba(83, 83, 83, 0.4);
	border-radius: 3px;
	padding: 2.5px 10px;
	margin: 0 5px 5px 0;
	cursor: default;
	user-select: none;
	transition: background-color 0.3s;
}
.postcard .postcard__tagbox .tag__item:hover {
	background: rgba(83, 83, 83, 0.8);
}
.postcard:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(-70deg, #424242, transparent 50%);
	opacity: 1;
	border-radius: 10px;
}
.postcard:hover .postcard__bar {
	width: 100px;
}
.postcard.dark .postcard__text:before {
	background: #12232e;
}
section > .primary-btn {
	text-align: center;
    color: #fff;
}

.postcard .postcard__tagbox .blue.play:hover {
	background: #12232e;
}
.blue .postcard__title:hover {
	color: #12232e;
}
.blue .postcard__bar {
	background-color: #12232e;
}
.blue::before {
	background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}
.login-frm-bg {
	background-color: var(--skyDark);
}

#contact {
    padding: 50px;
    text-align: center;
    align-items: center;
    flex-direction: row-reverse;
}

#contact ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
    position: relative;
    
}

#contact-form {
    display: inline-block;
    width: 25%;
    text-align: left;
}

#contact-form input, #contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 2px solid #203547;
    background: transparent;
    color: #fff;
}

#contact-form .btn {
    background-color: #203547;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 991px) {
	.bg-flip {
		background-size: 275px;
	}
	.collapse > ul {
		margin-top: 10px;
	}
	.navbar-nav > li > a {
		border-style: solid;
		padding: 1.2rem;
		margin-top: 0.6rem;
		margin-bottom: 0.6rem;
		border-width: 0.01px;
		border-color: var(--fontLight);
		text-decoration: none;
	}
	.nav-btn-login {
		padding: 1.2rem;
		background-color: var(--skyLight);
	}
	.bg-flip {
		background-size: 275px;
	}
	.collapse > ul {
		margin-top: 10px;
	}
	.navbar-nav > li > a {
		border-style: solid;
		padding: 1.2rem;
		margin-top: 0.6rem;
		margin-bottom: 0.6rem;
		border-width: 0.01px;
		border-color: var(--fontLight);
		text-decoration: none;
	}
	.nav-btn-login {
		padding: 1.2rem;
		background-color: var(--skyLight);
	}
}

@media (max-width: 577px) {
	.bg-flip {
		background-size: 125px;
	}
	.nav-brand img {
		width: 120px;
		max-height: 60px;
	}
}
@media screen and (min-width: 769px) {
	.postcard {
		flex-wrap: inherit;
	}

	.postcard .postcard__tagbox {
		justify-content: start;
	}
	.postcard .postcard__img {
		max-width: 300px;
		max-height: 100%;
		transition: transform 0.3s ease;
	}
	.postcard .postcard__text {
		padding: 4rem;
		width: 100%;
	}
	.postcard .media.postcard__text:before {
		content: "";
		position: absolute;
		display: block;
		background: #18151f;
		top: -20%;
		height: 130%;
		width: 55px;
	}
	.postcard:hover .postcard__img {
		transform: scale(1.1);
	}
	.postcard:nth-child(2n + 1) {
		flex-direction: row;
	}
	.postcard:nth-child(2n + 0) {
		flex-direction: row-reverse;
	}
	.postcard:nth-child(2n + 1) .postcard__text::before {
		left: -12px !important;
		transform: rotate(4deg);
	}
	.postcard:nth-child(2n + 0) .postcard__text::before {
		right: -12px !important;
		transform: rotate(-4deg);
	}
}
@media screen and (min-width: 992px) {
	.postcard__text {
		padding: 2rem 3.5rem;
	}
	.postcard__text:before {
		content: "";
		position: absolute;
		display: block;
		top: -20%;
		height: 130%;
		width: 55px;
	}
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.AA{
	display: flex;             
	justify-content: center;   
	flex-wrap: wrap;           
	height: 300px;
  }
  
  .cardA {
	position: relative;
	display: inline-block;
	width: 200px;
	height: 254px;
	background-color: #fff;
	border-radius: 20px;
	margin: 10px 20px;
	box-shadow: 0px 5px 5px #313131;
	overflow: hidden;
  }
  
  .top-cardA {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	height: 65%;
	transition: height 0.3s ease;
	background-color: #fff;
  }
  
  .bottom-cardA {
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	height: 35%;
	transition: height 0.3s ease;
	background-color: #0a3cff;
  }
  
  .bottom-cardA::before {
	content: "";
	position: absolute;
	background-color: transparent;
	bottom: 89px;
	height: 50px;
	width: 175px;
	transition: bottom 0.3s ease;
	border-bottom-left-radius: 20px;
	box-shadow: 0 30px 0 0 #0a3cff;
  }
  
  .card-contentA {
	padding-top: 13%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
  }
  .card-titleA {
	font-weight: 700;
	font-size: 18px;
  }
  .card-txtA {
	font-size: 14px;
  }
  
  .card-btnA {
	font-size: 13px;
	margin-top: 15%;
	text-decoration: none;
	color: white;
	background-color: transparent;
	border: solid 2px #fff;
	border-radius: 15px;
	padding: 5%;
  }
  
  .cardA:hover {
	box-shadow: 0px 2px 2px #0a3bffa1;
	border: solid 1px #0a3cff;
  }
  
  .cardA:hover .top-cardA {
	height: 35%;
	transition: height 0.3s ease;
  }
  .cardA:hover .bottom-cardA {
	height: 65%;
	transition: height 0.3s ease;
  }
  .cardA:hover .bottom-cardA::before {
	bottom: 164px;
	transition: bottom 0.3s ease;
  }
  
  .card-btnA:hover {
	color: black;
	background-color: #fff;
	transition: background-color 0.4s ease;
  }
  
  